<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" defaultHref="home">
      <ion-back-button def></ion-back-button>
    </ion-buttons>
    <ion-title>Geschäfte in der Nähe </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let shop of shops$ | async"
      detail="true"
      (click)="selectShop(shop)"
    >
      <ion-label>
        {{shop.name}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
