<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" defaultHref="home">
      <ion-back-button def></ion-back-button>
    </ion-buttons>
    <ion-title>{{(shop$ | async)?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Adresse:
    </ion-label>
    <ion-label class="ion-text-wrap">
      {{(shop$ | async)?.address}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Beschreibung:
    </ion-label>
    <ion-label class="ion-text-wrap">
      {{(shop$ | async)?.description}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Öffnungszeiten
    </ion-label>
    <ion-label class="ion-text-wrap">
      {{(shop$ | async)?.opening}}
    </ion-label>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-item color="tertiary" button (click)="shopHere()">
    <ion-label class="ion-text-center">HIER EINKAUFEN</ion-label>
    <ion-icon class="end" name="arrow-forward-outline"></ion-icon>
  </ion-item>
</ion-footer>
