<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" defaultHref="home">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Neues Geschäft</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <form [formGroup]="newShopForm">
      <ion-item>
        <ion-label position="floating">Name:</ion-label>
        <ion-input formControlName="name" placeholder="Gib hier den Namen deines Geschäfts ein."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Adress:</ion-label>
        <ion-input formControlName="address" placeholder="Gib hier die Adress deines Geschäfts ein."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Beschreibung:</ion-label>
        <ion-textarea formControlName="description" rows="5" placeholder="Beschreibe dein Geschäft :
- Welche Waren bietest du an
- Was können Kunden zur Zeit nicht bei dir kaufen
- Deine Webseite (wenn vorhanden)"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Öffnungszeiten:</ion-label>
        <ion-textarea formControlName="opening" rows="5"  placeholder="Gib dein Öffnungszeiten so detailliert wie möglich ein.">
        </ion-textarea>
      </ion-item>
    </form>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="save" (click)="submit()"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>