ion-icon {
  font-size: 8rem;
  position: absolute;
  top: 40%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
}
ion-text {
  position: absolute;
  text-align: center;
  top: 70%;
  left: 50%;
  height: 35%;
  transform: translate(-50%, -50%);
}
