<ion-content fullscreen="true">
  <ion-icon src="../../assets/icon/icon_sending.svg"></ion-icon>
  <ion-text color="primary">
    <h2>Deine Bestellung wird jetzt übermittelt</h2>
  </ion-text>
</ion-content>