<ion-header>
  <ion-toolbar>
    <ion-title>Einkaufsliste</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-text>Erstelle eine neue Einkaufsliste.</ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon slot="start" name="pencil"></ion-icon>
      <ion-input
        type="text"
        placeholder="z.B. Rama Halbfett 3x"
        [(ngModel)]="itemName"
      ></ion-input>
      <ion-button slot="end" (click)="addItem()" fill="none">
        <ion-icon slot="icon-only" name="add" color="primary"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let item of items; let i = index">
      <ion-button slot="start" fill="none" (click)="removeObject(i)">
        <ion-icon color="secondary" name="trash"></ion-icon>
      </ion-button>
      <ion-label>{{item}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-item color="tertiary" button (click)="done()">
    <ion-label class="ion-text-center">FERTIG</ion-label>
    <ion-icon class="end" name="arrow-forward-outline"></ion-icon>
  </ion-item>
</ion-footer>
