<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" defaultHref="home">
            <ion-back-button def></ion-back-button>
        </ion-buttons>
        <ion-title>Meine Einkäufe</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let list of mylists$ | async" (click)="viewList(list)">
            <ion-label>
                Bei {{list.shop.name}}:
            </ion-label>
            <ion-label>
                {{list.items.join(', ')}}
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>