<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" defaultHref="home">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Helfer Registrieren</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <form [formGroup]="newHelperForm">
      <ion-item>
        <ion-label position="floating">Name:</ion-label>
        <ion-input formControlName="name" placeholder="Gib hier deinen Namen ein."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">PLZ:</ion-label>
        <ion-input formControlName="address" placeholder="Gib hier deine PLZ."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Beschreibung:</ion-label>
        <ion-textarea formControlName="description" rows="5" placeholder="Beschreibe dich."></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Erreichbarkeit:</ion-label>
        <ion-textarea formControlName="opening" rows="5"  placeholder="Gib deine Erreichbarkeit so detailliert wie möglich ein.">
        </ion-textarea>
      </ion-item>
    </form>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="save" (click)="submit()"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>