<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" defaultHref="home">
            <ion-back-button def></ion-back-button>
        </ion-buttons>
        <ion-title>Mein Einkauf</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>
            Bei:
        </ion-label>
        <ion-label class="ion-text-wrap">
            {{(item$ | async)?.shop?.name}}
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>
            Was:
        </ion-label>
        <ion-label class="ion-text-wrap">
            <ul>
                <li *ngFor="let i of (item$ | async)?.items">{{i}}</li>
            </ul>
        </ion-label>
    </ion-item>
</ion-content>