<ion-content [fullscreen]="true">
  <div class="grid-container">
    <div class="title">
      <ion-text>Shop4U</ion-text>
    </div>
    <div class="logo">
      <img src="../../assets/icon/icon.svg" />
    </div>
    <div class="buttons">
      <ion-button expand="block" (click)="authService.doGoogleLogin()">Anmelden</ion-button>
      <ion-button expand="block" fill="outline" [routerLink]="['/dashboard']">
        Registrieren</ion-button>
    </div>
  </div>
</ion-content>