.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 33% 33% 1fr;
}
.title {
  font-size: 48px;
  justify-self: center;
  align-self: center;
}
.buttons {
  padding: 1rem;
  flex-direction: column;
  display: flex;
}
.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
